{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Books</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  {# NOTE: Change this to CDN #}
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'scripts/fe/node_modules/@fortawesome/fontawesome-pro/css/all.min.css' %}"> -->
</head>
<body>
  <app-root></app-root>

  <script type="text/javascript" src="{% static 'scripts/fe/dist/fe/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/fe/dist/fe/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/fe/dist/fe/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/fe/dist/fe/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/fe/dist/fe/main.js' %}"></script>
</body>
</html>